<launch>
  <!-- Reuse an existing apriltag_ros detector and add odometry fallback. -->
  <arg name="detections_topic" default="/tag_detections" />
  <arg name="polar_topic" default="/tag_polar" />
  <arg name="tracking_state_topic" default="/tag_tracking_state" />
  <arg name="output_frame_id" default="base_link" />

  <arg name="target_tag_id" default="0" />
  <arg name="use_first_detection" default="false" />
  <arg name="theta_offset_rad" default="0.0" />
  <arg name="enable_theta_offset" default="true" />
  <arg name="theta_deadband_rad" default="0.0" />
  <arg name="enable_theta_deadband" default="true" />
  <arg name="camera_offset_x_m" default="0.0" />
  <arg name="camera_offset_y_m" default="0.0" />
  <arg name="distance_offset" default="0.6" />
  <arg name="min_distance" default="0.0" />

  <arg name="use_odom_fallback" default="true" />
  <arg name="odom_topic" default="/go2/sport_odom" />
  <arg name="lost_timeout_sec" default="0.15" />
  <arg name="predict_timeout_sec" default="6.0" />
  <arg name="publish_rate_hz" default="15.0" />
  <arg name="reacquire_reset_sec" default="1.0" />
  <arg name="detection_stream_timeout_sec" default="0.5" />
  <arg name="search_enabled" default="false" />
  <arg name="search_timeout_sec" default="12.0" />
  <arg name="alpha" default="0.5" />
  <arg name="odom_timeout_sec" default="0.25" />
  <arg name="max_odom_jump_m" default="0.75" />
  <arg name="max_odom_yaw_jump_rad" default="1.20" />

  <node pkg="go_nav"
        type="polar_goal_tracker.py"
        name="polar_goal_tracker_node"
        output="screen">
    <param name="detections_topic" value="$(arg detections_topic)" />
    <param name="output_topic" value="$(arg polar_topic)" />
    <param name="tracking_state_topic" value="$(arg tracking_state_topic)" />
    <param name="output_frame_id" value="$(arg output_frame_id)" />
    <param name="target_tag_id" value="$(arg target_tag_id)" />
    <param name="use_first_detection" value="$(arg use_first_detection)" />
    <param name="theta_offset_rad" value="$(arg theta_offset_rad)" />
    <param name="enable_theta_offset" value="$(arg enable_theta_offset)" />
    <param name="theta_deadband_rad" value="$(arg theta_deadband_rad)" />
    <param name="enable_theta_deadband" value="$(arg enable_theta_deadband)" />
    <param name="camera_offset_x_m" value="$(arg camera_offset_x_m)" />
    <param name="camera_offset_y_m" value="$(arg camera_offset_y_m)" />
    <param name="distance_offset" value="$(arg distance_offset)" />
    <param name="min_distance" value="$(arg min_distance)" />
    <param name="use_odom_fallback" value="$(arg use_odom_fallback)" />
    <param name="odom_topic" value="$(arg odom_topic)" />
    <param name="lost_timeout_sec" value="$(arg lost_timeout_sec)" />
    <param name="predict_timeout_sec" value="$(arg predict_timeout_sec)" />
    <param name="publish_rate_hz" value="$(arg publish_rate_hz)" />
    <param name="reacquire_reset_sec" value="$(arg reacquire_reset_sec)" />
    <param name="detection_stream_timeout_sec" value="$(arg detection_stream_timeout_sec)" />
    <param name="search_enabled" value="$(arg search_enabled)" />
    <param name="search_timeout_sec" value="$(arg search_timeout_sec)" />
    <param name="alpha" value="$(arg alpha)" />
    <param name="odom_timeout_sec" value="$(arg odom_timeout_sec)" />
    <param name="max_odom_jump_m" value="$(arg max_odom_jump_m)" />
    <param name="max_odom_yaw_jump_rad" value="$(arg max_odom_yaw_jump_rad)" />
  </node>
</launch>
