<launch>
  <!-- 1) 启动你自己的 RealSense 发布节点 -->
  <node pkg="ranger_nav"
        type="realsense_stream.py"
        name="realsense_rgbd_node"
        output="screen">
    <param name="fps" value="30" />
    <param name="align_to_color" value="true" />
    <param name="color_topic" value="/camera/color/image_raw" />
    <param name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />
    <param name="color_info_topic" value="/camera/color/camera_info" />
    <param name="depth_info_topic" value="/camera/aligned_depth_to_color/camera_info" />
    <param name="color_frame_id" value="camera_color_optical_frame" />
    <param name="depth_frame_id" value="camera_color_optical_frame" />
  </node>

  <!-- 2) AprilTag 参数 -->
  <rosparam command="load" file="$(find my_camera_pkg)/config/tags.yaml"/>

  <!-- 3) 启动 apriltag_ros -->
  <node pkg="apriltag_ros"
        type="apriltag_ros_continuous_node"
        name="apriltag_detector"
        output="screen"
        clear_params="true">

    <!-- 这里把 apriltag_ros 默认输入 remap 到你的相机 topic -->
    <remap from="image_rect" to="/camera/color/image_raw" />
    <remap from="camera_info" to="/camera/color/camera_info" />
  </node>
</launch>
